# Ignore node_modules directory
node_modules/

# Ignore build artifacts and distribution files
dist/
build/

# Ignore log files
*.log

# Ignore any local configuration files
.env

# Ignore any package-lock.json file
package-lock.json

# Ignore any .DS_Store file (Mac OS)
.DS_Store

# Ignore any cache or temporary files
*.swp
*~